* {
 font-family: 'Nunito', sans-serif;
}

.top-heading {
    padding-top: 10%;
}

.one {
    margin-left: 10%;
}

.register-login-form {
    padding-top: 10%;
}

.register-login-img {
    height: 100%;
    width: 60%;
}

.about-img {
    height: 400px;
    width: 600px;
    border-radius: 50%;
}

.flashes {
    list-style-type: none;
    color: red;
}

footer {

   width:100%;
   height:200px;
   color: white;
}

.footer-top {
   background:#6cf;
   color: white;
   height:170px;
}

.footer-bottom {
    background-color: #3AB0FF;
    height: 30px;
    width: 100%;
}

.footer-thing {
    text-decoration: none;
    height: 30px;
    width: 30px;
    color: white;
    }

@media (max-width: 1163px) {
    .one {
        padding: 5% 2%;
    }
    .tital-one {
        font-size: 30px;
    }
    .tital-two {
        font-size: 20px;
    }
}

@media (max-width: 896px) {
     .one {
        padding-top: 5%;
        margin-left: 2%;
    }
    .tital-one {
        font-size: 23px;
    }
    .todolistimg {
        height: 100%;
        width: 100%;
    }
    .register-login-img {
        width: 100%;
        }

    footer {
        height: 240px;
       }

    .footer-top {
        height: 200px;
    }

    .footer-bottom {
        height: 40px;
    }
}
