{% extends 'base.html' %}
{% block title %} About {% endblock title %}
{% block body %}
<div class="text-center container">
    <div class="text-start">
        <a href="{{ url_for('home') }}"><button class="btn btn-outline-primary mt-2">Back To Home</button><br></a>
    </div>
    <img class="about-img text-center" src="{{ url_for('static', filename='images/about.png') }}">
    <h1>About Us</h1>
    <div class="h5">
        Lots of task management systems and to-do apps exist but they tend to be bloated with features, require a lengthy signup/onboarding process and then they spam you with email.


        Hi I am Viral Rupani from Gujarat, India. I made this UI/UX and Backend(Flask) during my Learnings, I Tried to make it as uncomplicated
        as possible and effective for more Productivity.
    </div>
</div>

{% endblock body %}