{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block title %} Login {% endblock title %}

{% block body %}
   <div class="container  register-login-form">
        <div class="text-center">
            <img class="register-login-img" src="{{ url_for('static', filename='images/login.jpg') }}">
        </div>
        <div class="mx-5 pb-5">
            {% with messages = get_flashed_messages() %}
                <ul class="flashes">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endwith %}
            <form class="form form-horizontal" method="post" role="form" action="{{ url_for('login') }}">
                <h1>Login</h1>
                {{ csrf_token }}
                {{ form.hidden_tag() }}
                {{ wtf.form_errors(form, hiddens="only") }}

                {{ wtf.form_field(form.email) }}
                {{ wtf.form_field(form.password) }}
                <button class="mt-2 btn btn-outline-primary">Login</button>
            </form>
        </div>
    </div>
<!--<footer class="fixed-bottom">-->
<!--      <div class="footer-top">-->
<!--        <div class="row pt-3">-->
<!--          <div class="col-2 text-start">-->
<!--          </div>-->
<!--          <div class="col-4 text-start">-->
<!--            <h2>Todo List</h2>-->
<!--            <p>Join millions of people who organize work and life with TodoList.</p>-->
<!--          </div>-->
<!--          <div class="col-2 text-start">-->
<!--          </div>-->
<!--          <div class="col-4 text-start">-->
<!--            <a class="footer-thing" href="{{ url_for('about') }}">About Us</a><br/>-->
<!--            <a class="footer-thing" href="mailto:viralrupani12017@gmail.com">Contact Us</a>-->
<!--            <p>-->

<!--            <a href="https://github.com/viralRupani" target="_blank"><i class="footer-thing fa-brands fa-github"></i></a>-->
<!--              <a href="#"><i class="footer-thing fa-brands fa-facebook"></i></a>-->
<!--            <a href="#"><i class="footer-thing fa-brands fa-instagram"></i></a>-->
<!--              <a href="#"><i class="footer-thing fa-brands fa-twitter"></i></a></p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="footer-bottom text-center ">-->
<!--        <p>Made With ❤️By Viral Rupani  ©️ 2022</p>-->
<!--      </div>-->

<!--    </footer>-->
{% endblock body %}